<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="">

    <title>국민은행 계산기</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
</head>
<body id="mainBody">

<h1>국민은행 Excel 97-2004 통합문서 (.xls) 파일만 가능</h1>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            &lt;!&ndash;            <li class="nav-item">&ndash;&gt;
            &lt;!&ndash;                <a class="nav-link" href="#">Link</a>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
            &lt;!&ndash;            <li class="nav-item dropdown">&ndash;&gt;
            &lt;!&ndash;                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;
            &lt;!&ndash;                    Dropdown&ndash;&gt;
            &lt;!&ndash;                </a>&ndash;&gt;
            &lt;!&ndash;                <div class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;
            &lt;!&ndash;                    <a class="dropdown-item" href="#">Action</a>&ndash;&gt;
            &lt;!&ndash;                    <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;
            &lt;!&ndash;                    <div class="dropdown-divider"></div>&ndash;&gt;
            &lt;!&ndash;                    <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;
            &lt;!&ndash;                </div>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
            &lt;!&ndash;            <li class="nav-item">&ndash;&gt;
            &lt;!&ndash;                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>&ndash;&gt;
            &lt;!&ndash;            </li>&ndash;&gt;
        </ul>

    </div>
</nav>-->

<form method="post" enctype="multipart/form-data" id="fileForm" accept-charset="UTF-8">
    <div class="form-group">
        <label for="exampleFormControlFile1">엑셀 파일 선택</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
    </div>
    <!--    <input type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="sendFile()" id="sendFile"-->
    <!--           value="파일 보내기"/>-->
    <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="sendFile">파일보내기</button>
</form>

<div class="nekisse fade">
    <!--    <form method="post" id="deleteData">-->
    <!--        <input type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="deleteData()" id="deleteButton"-->
    <!--               value="데이터 삭제"/>-->
    <!--    </form>-->

    <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="btDeleteData">테스트버튼!! 데이터 삭제 type button
    </button>
    <!--<button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="testBt">테스트버튼!! 데이터 삭제 type submit</button>-->

    <div class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-4" type="text" name="setMoney" id="setMoney" placeholder="default = 10000"
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="btSetMoney">매월 내야할 돈 설정</button>
    </div>

    <form class="form-inline my-2 my-lg-0" action="/find" method="get">
        <input class="form-control mr-sm-2" type="text" name="startDate" id="startDate" placeholder="시작월 ex) 1999-01"
               aria-label="Search">
        ~
        <input class="form-control mr-sm-2" type="text" name="endDate" id="endDate" placeholder="종료월 ex) 1999-12"
               aria-label="Search">
        <input class="form-control mr-sm-2" type="text" name="depositor" id="depositor" placeholder="이름: ex) 홍길동"
               aria-label="Search">

        <!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">서버검색</button>-->
    </form>

    <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="btCalFindUser"> ajax 유저계산 검색</button>
    <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="btFindUser"> ajax 유저일반 검색</button>
    <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="btFindAll"> ajax 전체검색</button>


    <h1 id="calValue"></h1>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>거래날짜</th>
                <th>입금자명</th>
                <th>출금내역</th>
                <th>입금내역</th>
                <th>합계</th>
            </tr>

            </thead>


            <tbody id="tbody">

            </tbody>
        </table>
    </div>

</div>

<script id="result-string" type="text/x-handlebars-template">
    <h2>계산식 = (조회기간의 개월수 * \{{calValue.monthlyTargetMoney}}) + ((안낸 개월수) * \{{calValue.monthlyTargetMoney}}) </h2>
    <h2>---------------------------</h2>


    <h3>계산식 =  \{{calValue.userTargetMoney}}</h3>
    <h3>총 낸돈 =  \{{calValue.userTotalAmount}}</h3>
    <h3>내야할 돈 =  \{{calValue.result}}</h3>

</script>

<script id="result-template" type="text/x-handlebars-template">
    \{{#each bankDtoList}}
    <tr>
        <td>\{{this.tradingDate}}</td>
        <td>\{{this.depositor}}</td>
        <td>\{{this.withdrawalAmount}}</td>
        <td>\{{this.depositAmount}}</td>
        <td>\{{this.totalAmount}}</td>
    </tr>
    \{{/each}}
</script>

<script src="/webjars/jquery/3.3.1/jquery.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="/webjars/popper.js/1.14.7/popper.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.5/handlebars.js"></script>
<!--<script src="/static/js/app.js"></script>-->
<script src="/static/js/apiapp.js"></script>


</body>

</html>